nav a {
  color: #6A6B6C;
}

nav .download {
  color: #943D96;
}

h2 {
	color: #2D2D2D;
}

h2 span {
	color: #6F7B7D;
}

button {
	background-color: #943D96;
	color: #FFFFFF;
}

.gradient {
  background: linear-gradient(#EFEFF0, #D8E4F0);
}

.credits p {
	color: #6F7B7D;
}

.credits a {
	color: #2D2D2D;
}

.rectangles .top {
	background: #6C6D6F;
}

.rectangles .bottom {
  background: #6C6D6F;
}
