.page {
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  min-height: 920px;
  min-width: 1200px;
  max-width: 1500px;
  height: 100vh;
  margin: 0 auto;
}

.middle {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.explanation {
  position: relative;
  max-width: 648px;
  width: 70%;
  margin-left: 8%;
}

.explanation img {
  cursor: pointer;
  width: 80px;
  margin-bottom: 16px;
}

.explanation button {
  width: 208px;
  height: 60px;
  position: relative;
  display: block;
  margin-top: 32px;
  border-radius: 20px;
  padding-bottom: 4px;
}

.images {
  position: relative;
  width: 30%;
  height: 640px;
  margin-right: 8%;
}

.images img {
  width: 340px;
  position: absolute;
  float: right;
  right: 0;
}

.images .dark {
  margin-top: 104px;
  z-index: 0;
}

.images .light {
  z-index: 1;
  right: 100px;
}
