nav {
  /*background: red;*/
}

.icon {
  display: none;
}

.gray {
  opacity: 1;
}

.images {
  position: relative;
  width: 30%;
  height: 900px;
  margin-right: 1%;
  margin-top: 50px;
}

.images div {
  width: 522px;
  height: 1200px;
  position: absolute;
  float: right;
  right: 0;
  background-size: 460px 727px;
  background-repeat: no-repeat;
  object-fit: cover;
}

.images .dark {
  background-image: url('../images/home/dark.png');
  margin-top: 144px;
  z-index: 0;
}

.images .light {
  background-image: url('../images/home/light.png');
  z-index: 1;
  right: 140px;
}
