.page {
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  min-height: 1000px;
  min-width: 1200px;
  max-width: 1660px;
  height: 100vh;
  margin: 0 auto;
}

.middle {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 24px;
}

.explanation {
  position: relative;
  max-width: 620px;
  width: 70%;
  margin-left: 8%;
  margin-top: -4.5%;
}

.explanation img {
  cursor: pointer;
  width: 80px;
  margin-bottom: 20px;
}

.explanation button {
  width: 208px;
  height: 60px;
  position: relative;
  display: block;
  margin-top: 32px;
  border-radius: 16px;
  padding-bottom: 4px;
}

.images {
  position: relative;
  width: 30%;
  height: 900px;
  margin-right: 5.4%;
}

.images div {
  width: 522px;
  height: 1200px;
  position: absolute;
  float: right;
  right: 0;
  background-size: 460px 727px;
  background-repeat: no-repeat;
  object-fit: cover;
}

.images .dark {
  background-image: url('../images/home/dark.png');
  margin-top: 144px;
  z-index: 0;
}

.images .dark.darken {
  background-image: url('../images/home/light.png');
}

.images .light {
  background-image: url('../images/home/light.png');
  z-index: 1;
  right: 140px;
}

.images .light.darken {
  background-image: url('../images/home/dark.png');
}
