*, html {
  margin: 0;
  padding: 0;
  outline: 0;
}

html, body {
  margin: 0 auto;
}

button {
  text-decoration: none;
  border: 0px;
  background-color: transparent;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.email {
  cursor: pointer;
}

.gradient {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000;
}

.page-title {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 0;
  left: 0;
  clip: rect(0, 1px, 1px, 0);
}

nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  margin-right: 8%;
}

nav a {
  margin-left: 40px;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

.credits {
  margin-top: 40px;
  margin-left: 8%;
  padding-bottom: 40px;
}

.credits a {
  cursor: pointer;
  text-decoration: none;
  border: 0px;
}

.rectangles {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.rectangles .top {
  position: absolute;
  left: -180px;
  top: -280px;
  width: 500px;
  height: 500px;
  opacity: 0.08;
  border-radius: 156px;
  transform: rotate(-14deg);
}

.rectangles .bottom {
  position: absolute;
  right: -120px;
  bottom: -80px;
  width: 720px;
  height: 720px;
  opacity: 0.08;
  border-radius: 248px;
  transform: rotate(21deg);
}
