.content {
	min-height: 860px;
	max-height: 1300px;
	position: relative;
}

.logotype {
	margin-top: -8px;
	transition: transform 0.2s ease;
	margin-left: 0px;
	display: none;
}

.logotype:after {
	display: none;
}

.logotype:hover {
	transform: scale(1.02);
}

.icon {
	width: 40px;
}

.illustration {
	margin: 0 auto;
}

.illustration img {
	width: 95%;
	max-width: 550px;
	margin-left: -8%;
	margin-top: -8%;
}

.main {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}

.right {
	height: 100%;
	width: 65%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.press {
	max-width: 556px;
	position: relative;
}

nav {
	align-self: flex-end;
	position: absolute;
	right: 0;
}

h3 {
	margin-bottom: 2px;
}

h4 {
	margin-top: 32px;
	margin-bottom: 6px;
}

.buttons {
	margin-top: 28px;
	margin-left: -6px;
}

.download-now {
	width: 156px;
	margin-right: 2px;
}

.download-kit {
	width: 164px;
}

.buttons a:after {
	display: none;
}

.attribute a {
	text-decoration: none;
}

.attribute {
	display: block;
	position: relative;
	bottom: 32px;
	left: 0;
	align-self: flex-end;
}

@media only screen and (min-width: 1400px) {
	.illustration img {
		width: 90%;
		margin-left: -4%;
		margin-top: -8%;
	}
}

@media only screen and (min-width: 1000px) {
	.illustration img {
		width: 85%;
		margin-left: -4%;
		margin-top: -4%;
	}

	.right {
		width: 50%;
	}
}

@media only screen and (max-width: 900px) {
	.illustration {
		width: 0%;
	}

	.right {
		width: 100%;
	}
}

@media only screen and (max-width: 600px) {
	.selected {
		margin-right: 0;
	}

	.download {
		display: none;
	}
}

@media only screen and (max-width: 450px) {
	nav a {
		margin-right: 24px;
	}
}

@media only screen and (max-width: 350px) {
	nav a {
		margin-right: 12px;
	}
}

@media only screen and (min-width: 1540px) {
	.illustration img {
		margin-left: 10%;
	}
}
